{% extends "base.html" %}
{% block title %}Post Search{% endblock %}
{% block content %}
<br>
<h1>Post Search</h1>
<hr>
<br>

<form action="." method="post">
<!-- '{% csrf_token %}'는 폼태그 첫 출에 항상 입력해야 함. -->
{% csrf_token %}
{{ form.as_table }}
<input type="submit" value="Search" class="btn btn-info btn-sm">
</form>
<br/>
<br/>

<br/>
{% if object_list %}
<h2>Search Result</h2>
	{% for post in object_list %}
	<h3><a href="{{post.get_absolute_url}}" style="text-decoration:none; color:black;">{{ post.title }}</a></h3>
	<h5>(Modify Date: {{post.modify_dt|date:"N d, Y"}})</h5>
	&nbsp;{{post.description}}
	<br>
	<br>
	{% endfor %}
{% elif search_term %}
	<b>
		<i>Search Word({{search_term}}) Not Found !</i>
	</b>
{% endif %}
{% endblock %}